<!DOCTYPE html>
<html>
  <body>
    <p>Salom {{username}},</p>
    <p>Hisobingizni faollashtirish uchun quyidagi tugmani bosing:</p>
    <p><a href="{{urlAdmin}}">Aktivatsiya qilish</a></p>
  </body>
</html>
